@import "./animation";

@mixin fadeIn($time, $timingFunction) {
  transition: opacity $time $timingFunction;
  -moz-transition: opacity $time $timingFunction;
  -webkit-transition: opacity $time $timingFunction;
  opacity: 1;
}

@mixin fadeOut($time, $timingFunction) {
  transition: opacity $time $timingFunction;
  -moz-transition: opacity $time $timingFunction;
  -webkit-transition: opacity $time $timingFunction;
  opacity: 0;
}

@mixin slideInDown($time) {
  animation: slideInDown $time ease;
}

@mixin slideInUp($time) {
  animation: slideInUp $time ease;
}
